@page "/caja"
@page "/caja/{cajaId:int}"
@inject CajaBLL cajaBLL
@inject NotificationService Notificacion

<EditForm Model="caja" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="accordion-item">
        <div class="modal-header">
            <h2>Entrada de productos empacados</h2>
        </div>

        @*PRODUCTO ID*@
        <div class="accordion-body">
            <label for="ID">ID</label>
            <div class="input-group">
                <InputNumber @bind-Value="caja.CajaId" class="form-control" />
                <button type="button" class="btn btn-primary" @onclick="Buscar"><span class="oi oi-magnifying-glass"></span></button>
            </div>
            <br>
        @*FECHA*@
        <div class="col-md-15">
            <label for="Fecha">Fecha</label>
            <InputDate @bind-Value="caja.Fecha" class="form-control" />
            <ValidationMessage For="@(() => caja.Fecha)" />

        </div>
       
        @*Concepto*@
        <div class="col-md-15">
            <br>
            <label for="Concepto">Concepto</label>
            <InputText @bind-Value="caja.Concepto" class="form-control" />
            <ValidationMessage For="@(() => caja.Concepto)" />
            </div>
        </div>

    <div class="accordion-item">
        <div class="modal-header">
            <h2>Utilizados</h2>
        </div>

        @*Producto detalle*@
        <div class="accordion-body">

            @*Producto*@
        <div class="col-md-15">
            <label for="select" class="form-label">Producto:</label>
                <InputSelect class="form-select" @bind-Value="Detalle.ProductoId">
                 @foreach (var producto in LProductos )
                 {
                    <option value="@producto.ProductoId">@producto.Descripcion</option> 
                 }
                </InputSelect>
        </div>

            @*Cantidad*@
         <div class="col-md-15">
            <br>
                <label for="Cantidad">Cantidad</label>
                <InputNumber @bind-Value="Detalle.Cantidad" class="form-control" />
                <ValidationMessage For="@(() => Detalle.Cantidad)" />
                <button type="button"class="btn btn-success" @onclick="AgregarDetalle" ><span class="oi oi-plus"></span> ADD</button>
            <br>
          </div>

            @*Tabla detalle*@
         <div class="table">
             <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                        <tbody>
                            @foreach (var detalle in caja.cajaDetalle)
                            {
                                <tr>
                                    <td>@detalle.ProductoId</td>
                                    <td>@detalle.Descripcion</td>
                                    <td>@detalle.Cantidad</td>
                                </tr>
                            }
                        </tbody>
                </table>
            </div>

        </div>

    </div>  
        <div class="text-center">
            <button type="button" class="btn btn-primary" @onclick="Nuevo"> <span class="oi oi-file"></span> Nuevo </button>
            <button type="submit" class="btn btn-success"><span class="oi oi-document"></span> Guardar</button>
            <button type="button" class="btn btn-danger" @onclick="Eliminar"><span class="oi oi-trash"></span> Eliminar</button>
        </div>
    </div>

</EditForm>

@code { 

[Parameter]

   public int cajaId{get; set;}
   public Caja caja {get; set;} = new Caja();
   public CajaDetalle Detalle = new CajaDetalle();
   public  List<Producto> LProductos=  new List<Producto>();

   protected override void OnInitialized()
   {
       if(cajaId > 0){
           caja.CajaId = cajaId;
           Buscar();
       }
   }
    public void Buscar()
    {
        if (caja.CajaId > 0)
        {
            ShowNotification(
                new NotificationMessage
                    {
                        Severity = NotificationSeverity.Success,
                        Summary = "Se ha encontrado con exito."
                    });
            var encontrado = cajaBLL.Buscar(caja.CajaId);
            Nuevo();
            if (encontrado != null)
                this.caja = encontrado;
        }
        else
        {
            ShowNotification(
                new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = "ERROR, favor intentelo de nuevo."
                    });   
        }
    }
  public void Nuevo(){
       this.caja = new Caja();
   }
   
    public void Guardar()
    {
        if (ValidarProducto())
        {
            var guardado = cajaBLL.Guardar(caja);

            if (guardado)
            {
                ShowNotification(
                    new NotificationMessage
                        {
                            Severity = NotificationSeverity.Success,
                            Summary = "Guardado con éxito."
                        });
                Nuevo();
            }
            else
            {
                ShowNotification(
                    new NotificationMessage
                        {
                            Severity = NotificationSeverity.Error,
                            Summary = "ERROR!!. Favor revisar los campos."
                        });
                Nuevo(); 
            }
        }
    }
    public bool ValidarProducto()
    {
        var validationResults = new List<ValidationResult>();
        var validationContext = new ValidationContext(caja);

        if (!Validator.TryValidateObject(caja, validationContext, validationResults, true))
        {
            foreach (var validationResult in validationResults)
            {
                ShowNotification(
                    new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = validationResult.ErrorMessage
                    });
            }
            return false;
        }
        return true;
    }

  public void Eliminar(){
       if(cajaBLL.Eliminar(caja)){
            ShowNotification(
                new NotificationMessage
                    {
                        Severity = NotificationSeverity.Success,
                        Summary = "Se ha elimado con exito."
                    }); 
           
           Nuevo();
       }
       else{
        ShowNotification(
            new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error, no hay elementos para eliminar."
                });  
       }
   }

   public void AgregarDetalle()
   {
    caja.cajaDetalle.Add(Detalle);
    Detalle = new CajaDetalle();

        ShowNotification(
            new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Guardado Correctamente"
                });  
   }

    public void ShowNotification(NotificationMessage message)
    {
        Notificacion.Notify(message);
    }

}